body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="number-slide"],
[class*=" number-slide"] {
  background: #ddc8bb;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 300px;
  max-height: 100vh;
}

.number-slide1 {
  background-image: url(./image/egg_prata_fish_curry.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}

.number-slide2 {
  background-image: url(./image/mmspeanut_large.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}

.number-slide3 {
  background-image: url(./image/irvin.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.number-slide4 {
  background-image: url(./image/laksa_potato_chips.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.number-slide5 {
  background-image: url(./image/papadoms.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.number-slide6 {
  background-image: url(./image/Pringles_large.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
