body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="number-slide"],
[class*=" number-slide"] {
  background: rgb(253, 252, 251);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 300px;
  max-height: 100vh;
  border: 2px solid #7275df;
}

.number-slide1 {
  background-image: url(./image/Pringles_large.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70% 90%;
  
}

.number-slide2 {
  background-image: url(./image/irvin.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70% 90%;
}

.number-slide3 {
  background-image: url(./image/egg_prata.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70% 90%;
}

.number-slide4 {
  background-image: url(./image/hainan_chix_rice.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70% 90%;;
}

.number-slide5 {
  background-image: url(./image/fish_chip_gelato.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90% 90%;
}
.number-slide6 {
  background-image: url(./image/taiyaki_cone.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80% 90%;
}
